
body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  border: 1px solid #FDFEFE;
  width: 800px;
  height: auto;
  margin: 60px auto;
  padding: 10px;
  background-color: #FDFEFE;
}
.first-column {
  display: inline-block;
  width: 500px;
  margin: 10px;
}
h1, h4, h2 {

  font-family: 'Hind', sans-serif;
}
h1 {
  font-size: 18px;
  letter-spacing: 1px;
  color: #2874A6;
}
h4 {
  margin: 8px 0px;
  font-size: 14px;
  color: #1F618D;
}
h2 {
  margin: 8px 0px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #2874A6;
}
p {
  font-family: 'Hind', sans-serif;
  font-weight: 100;
  color: #424949;
  font-size: 13px;
  line-height: 140%;
}
.img {
  padding-top: 8px;
  padding-right: 18px;
  padding-bottom: 3px;
  float: left;
}
.side {
  float: right;
  width: 220px;
  margin-right: 10px;
  margin-top: 20px;
  height: auto;
  position: relative;
}
ul {
  list-style-type: none;
  padding-left: 1px;
  font-family: 'Hind', sans-serif;
}
li {
  font-size: 15px;
  color: #34495E;
  display: inline-block;
}
.one, .second, .three {
  padding-left: 20px;
  margin-top: 10px;
}
.one:before, .second:before, .three:before  {
  color: #FDFEFE;
  text-align: center;
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  background: #5DADE2;
}
.one:before {
  content: '1';
  left: -20px;
  top: 35px;
}
.second:before {
  content: '2';
  left: -20px;
  top: 124px;
}
.three:before {
  content: '3';
  left: -20px;
  top: 230px;
}
.p1, .p2, .p3 {
  padding-top: 4px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-weight: 100;
  color: #424949;
  font-size: 13px;
}
.break {
  border-radius: 1px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #D6E1E5;
  margin: 0px 10px 0px;
}
.second-column {
  display: inline-block;
  width: 500px;
  margin: 15px 10px;
}
.second-list {
  list-style: none;
  margin-top: 8px;
}
.round::before {
  content: url('../img/arrow.png');
  padding-right: 5px;
}
li.round {
  display: inline-block;
  width: 200px;
  height: 30px;
  font-size: 13px;
  font-family: 'Hind', sans-serif;
  font-weight: 100;
  color: #424949;
}
.second-side {
  float: right;
  width: 220px;
  margin-right: 10px;
  margin-top: 20px;
  height: auto;
}
.qoute::before {
  content: '\2033';
}
.qoute::after {
  content: '\2036';
}
div.qoute {
  font-family:'Hind', sans-serif;
  font-weight: 100;
  color: #424949;
  font-size: 13px;
  line-height: 140%;
  padding-top: 10px;
  padding-left: 8px;
}
.speech-bubble {
	position: relative;
  height: 130px;
  background: #F2F3F4;
  border-color: #F2F3F4;
  border-style: solid;
	border-radius: 4px;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #F2F3F4;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}
div.speaker {
  font-family:'Hind', sans-serif;
  text-align: center;
  padding-top: 50px;
  padding-right: 10px;
  font-weight: bold;
  color: #2874A6;
}
